<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/selectAuctionType.css">
    <link rel="stylesheet" href="dist/css/multiplayerRules.css">
   
    <script src="https://cdn.socket.io/4.1.2/socket.io.js"></script>
</head>
</head>
<body>
    <div class="background-box-1"></div>
    <div class="background-box-2"></div> 

    <div class="roomID">
        <p id="roomID"></p>
    </div>

    <div class="numOfPlayersModal" id="numOfPlayersModal">
        <div class="modal-content" id="modal-1">
            <p> Select number of players (2-10)</p>
            <input type="Number" id="numOfPlayers" min="2" max="10"  >
            <button id="next">Next</button>
        </div>
    </div>

    


    <script type="text/javascript" src="views/js/multiplayerRules.js"></script>
</body>
</html>