<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL Auction </title>
    <!-- <link rel="stylesheet" href="app.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="dist/css/myAuction.css">
    <link rel="stylesheet" href="dist/css/navbar.css">
    <link rel="stylesheet" href="dist/css/bg-design-ele.css">


</head>

<body>

     <nav class="navbar">
        <div class="logo"><a href="#">Auction Heroes</a></div>
        <ul class="links">
            <li id="list-ele-1">Home
                 <div class="submenu" id="list-ele-1-submenu">
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Hosting Services</p> 
                                <p class="cell-small">Powerful virtual machines</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Game Hosting</p> 
                                <p class="cell-small">Superfast game server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Application Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Hosting Solutions</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Minimal Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Dedicated Server</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Hosting Provider</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    
                </div> 
            </li>
            <li id="list-ele-2">Domain
                 <div class="submenu" id="list-ele-2-submenu">
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    
                </div> 
            </li>
            <li id="list-ele-3">Hosting
                <div class="submenu" id="list-ele-3-submenu">
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    
                </div> 
            </li>
            <li id="list-ele-4">Servers
                <div class="submenu" id="list-ele-4-submenu">
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </li>
            <li id="list-ele-5">Contact
                <div class="submenu" id="list-ele-5-submenu">
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div  class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                            
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.png" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p> 
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    
                </div> 
            </li>
        </ul>
       
        <div class="toggle_btn" id="menu-btn" >
            <a href="#" class="login"  >Log in</a>
            <img  src="dist/images/menu-btn.svg" alt="">
            
        </div>
    </nav> 
    
    <div class="bg">
        <div class="background-design-ele-1" id="bg-1"></div>
        <div class="background-design-ele-2" id="bg-2"></div>
    </div>
    <section class="container">


        <div class="naming">Teams Wallets</div>

         <div class="wallet" id="wallet">
            
            
            <section class="team" id="MI">
                <div>
                    <img class="logo" id="lMI" src="/resources/logos/milogo.png" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Mumbai Indians </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="MIpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="MInum">0</span></p>
                </div>
            </section>

            <section class="team" id="CSK">
                <div>
                    <img class="logo" id="lCSK" src="/resources/logos/csklogo.png" alt="">
                </div>

                <div class="team-data">
                    <p class="text">Chennai Super Kings </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="CSKpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="CSKnum">0</span></p>
                </div>
            </section>

            <section class="team" id="RR">
                <div>
                    <img class="logo" src="/resources/logos/rrlogo.png" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Rajasthan Royals </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="RRpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="RRnum">0</span></p>
                </div>
            </section>

            <section class="team" id="RCB">
                <div>
                    <img class="logo" src="/resources/logos/rcblogo.png" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Royal challengers Bangalore </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="RCBpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="RCBnum">0</span></p>
                </div>
            </section>

            <section class="team" id="PBKS">
                <div>
                    <img class="logo" src="/resources/logos/pbkslogo.png" alt="">
                </div>
                <div class="team-data">
                    <p class="text"> Punjab Kings </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="PBKSpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="PBKSnum">0</span></p>
                </div>
            </section>

            <section class="team" id="KKR">
                <div>
                    <img class="logo" src="/resources/logos/kkrlogo.png" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Kolkata Knight Riders </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="KKRpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="KKRnum">0</span></p>
                </div>
            </section>

            <section class="team" id="SRH">
                <div>
                    <img class="logo" src="/resources/logos/srhlogo.png" alt="">
                </div class="team-data">
                <div class="team-data">
                    <p class="text">Sunrisers Hyderabaad </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="SRHpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="SRHnum">0</span></p>
                </div>
            </section>

            <section class="team" id="DC">
                <div>
                    <img class="logo" src="/resources/logos/dclogo.png" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Delhi Capitals </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="DCpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="DCnum">0</span></p>
                </div>
            </section>
                
            
        </div>  
       


            

        <div class="bids">


            <div id="search">

                <input style="border-radius:5px;border:2px rgb(39,50,50) solid;height:1.5rem;" id="searchOrder"
                    name="order" size="3" type="text" value="">
                <button style="padding:8px;" class="button" id="change">Search</button>

            </div>

            <section class="bids-1">
                <div class="bids-3" id="bids-3">
                    <p class="Bid">Current Bid:</p>
                    <p id="rupee"> &#8377<span class="Bid" id="Amount">0</span>Lakhs</p>
                </div>
                <div class="upsold">
                    <button id="PREV"> prev </button>
                    <button id="UP">Bid Up</button>
                    <button id="Sold">Sold</button>
                    <button id="NEXT"> next </button>
                </div>
                <div>
                    <p class="Bids" id="hidden"></p>
                </div>

            </section>



            <section class="teamSelector" id="teamSelector">
                <p class="edgy-font">Select Team</p>

                <form>
                    <div class="buying-teams">
                        <label id="mi"><input name="profession" type="radio" value="MI"><img class="logo"
                                src="/resources/logos/milogo.png" alt=""></label>
                        <label id="csk"><input name="profession" type="radio" value="CSK"> <img class="logo"
                                src="/resources/logos/csklogo.png" alt=""></label>
                        <label id="rr"><input name="profession" type="radio" value="RR"> <img class="logo"
                                src="/resources/logos/rrlogo.png" alt=""></label>
                        <label id="srh"><input name="profession" type="radio" value="SRH"> <img class="logo"
                                src="/resources/logos/srhlogo.png" alt=""></label>

                        <label id="rcb"><input name="profession" type="radio" value="RCB"> <img class="logo"
                                src="/resources/logos/rcblogo.png" alt=""></label>
                        <label id="pbks"><input name="profession" type="radio" value="PBKS"> <img class="logo"
                                src="/resources/logos/pbkslogo.png" alt=""></label>
                        <label id="kkr"><input name="profession" type="radio" value="KKR"> <img class="logo"
                                src="/resources/logos/kkrlogo.png" alt=""></label>
                        <label id="dc"><input name="profession" type="radio" value="DC"> <img class="logo"
                                src="/resources/logos/dclogo.png" alt=""></label>
                    </div>
                </form>
                <div class="upsold">
                    <button class="button" id="confirm">ADD</button>
                </div>


            </section>
            

        </div>

        <div class="statsHolder">
            <div class="statsHolderBackground" id="statsHolderBackground">
                <p id="playerno">Player:<span id="playerNum">1</span></p>
                <p class="stats" id="name">VIRAT KOHLI</p>


                <img class="stas" id="currPlayerImg" src="/resources/Players/virat kohli.png" alt="">

                <div class="data" id="databox">
                    <p>Bat Pts :<span id="batAvg">95</span></p>

                    <p>Bowl Pts:<span id="bowlPts">14</span></p>

                    <p>Wk Pts :<span id="wkPts">Nil</span></p>

                   
                    
                </div>
            </div>

            <div class="otherstatsbg">
                <div class="team-role">
                    <img id="roleImg"src="resources/icons/batsman.png" alt="">
                    <img class="eclipse" src="resources/icons/eclipse.png" alt="">
                    <p id="role">Batsman</p>
                </div>

                <div class="nationality">
                    <img class="flag" id="flagImg"src="resources/icons/india.png" alt="">
                    <img class="eclipse" src="resources/icons/eclipse.png" alt="">
                    <p id="nationality">India</p>
                </div>
                <div class="basePrice">
                    <img class="coin" src="resources/icons/basePrice.png" alt="">
                    <img class="eclipse" src="resources/icons/eclipse.png" alt="">
                    <p>Base- <span id="basePrice">5</span> Cr</p>
                </div>
            </div>

        </div>

    </section>




    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    <script src="views/js/myAuction.js"></script>
    <script src="views/js/database4myAuction.js"></script>


</body>

</html>