<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL Auction </title>
    <!-- <link rel="stylesheet" href="app.css"> -->

    <link rel="stylesheet" href="dist/css/myAuction.css">
    <link rel="stylesheet" href="dist/css/navbar.css">
    <link rel="stylesheet" href="dist/css/bg-design-ele.css">


</head>

<body>

    <nav class="navbar">
        <div class="main-logo"><a href="#">Auction Heroes</a></div>
        <ul class="links">
            <li id="list-ele-1">Home
                <div class="submenu" id="list-ele-1-submenu">
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Hosting Services</p>
                                <p class="cell-small">Powerful virtual machines</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Game Hosting</p>
                                <p class="cell-small">Superfast game server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Application Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Hosting Solutions</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Minimal Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Dedicated Server</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Hosting Provider</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li id="list-ele-2">Domain
                <div class="submenu" id="list-ele-2-submenu">
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li id="list-ele-3">Hosting
                <div class="submenu" id="list-ele-3-submenu">
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li id="list-ele-4">Servers
                <div class="submenu" id="list-ele-4-submenu">
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
            <li id="list-ele-5">Contact
                <div class="submenu" id="list-ele-5-submenu">
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s1.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s2.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s3.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s4.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s5.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s6.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>

                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s7.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s8.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/s9.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                        <div class="cell">
                            <!-- <img class="icons" src="/elements/uptime.webp" alt="">  -->
                            <div class="text">
                                <p class="cell-bold">Web Hosting</p>
                                <p class="cell-small">Powerful bare metal server</p>
                            </div>
                        </div>
                    </div>

                </div>
            </li>
        </ul>

        <div class="toggle_btn" id="menu-btn">
            <a href="#" class="login">Log in</a>
            <img src="dist/images/menu-btn.svg" alt="">

        </div>
    </nav>

    <div class="bg">
        <div class="background-design-ele-1" id="bg-1"></div>
        <div class="background-design-ele-2" id="bg-2"></div>
    </div>
    <section class="container">


        <div class="Heading" id="Wallet-Heading">Team Wallets</div>
        <div class="Heading" id="Bids-Heading">Bids Section</div>
        <div class="Heading" id="Stats-Heading">Player Stats</div>

        <div class="wallet" id="wallet">


            <section class="team" id="MI">
                <div>
                    <img class="logo" id="lMI" src="/resources/logos/milogo.webp" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Mumbai Indians </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="MIpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="MInum">0</span></p>
                </div>
            </section>

            <section class="team" id="CSK">
                <div>
                    <img class="logo" id="lCSK" src="/resources/logos/csklogo.webp" alt="">
                </div>

                <div class="team-data">
                    <p class="text">Chennai Super Kings </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="CSKpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="CSKnum">0</span></p>
                </div>
            </section>

            <section class="team" id="RR">
                <div>
                    <img class="logo" src="/resources/logos/rrlogo.webp" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Rajasthan Royals </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="RRpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="RRnum">0</span></p>
                </div>
            </section>

            <section class="team" id="RCB">
                <div>
                    <img class="logo" src="/resources/logos/rcblogo.webp" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Royal challengers Bangalore </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="RCBpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="RCBnum">0</span></p>
                </div>
            </section>

            <section class="team" id="PBKS">
                <div>
                    <img class="logo" src="/resources/logos/pbkslogo.webp" alt="">
                </div>
                <div class="team-data">
                    <p class="text"> Punjab Kings </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="PBKSpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="PBKSnum">0</span></p>
                </div>
            </section>

            <section class="team" id="KKR">
                <div>
                    <img class="logo" src="/resources/logos/kkrlogo.webp" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Kolkata Knight Riders </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="KKRpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="KKRnum">0</span></p>
                </div>
            </section>

            <section class="team" id="SRH">
                <div>
                    <img class="logo" src="/resources/logos/srhlogo.webp" alt="">
                </div class="team-data">
                <div class="team-data">
                    <p class="text">Sunrisers Hyderabaad </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="SRHpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="SRHnum">0</span></p>
                </div>
            </section>

            <section class="team" id="DC">
                <div>
                    <img class="logo" src="/resources/logos/dclogo.webp" alt="">
                </div>
                <div class="team-data">
                    <p class="text">Delhi Capitals </p>
                    <p class="text">Remainng Purse : &#8377<span class="purse" id="DCpurse">50</span> crores</p>
                    <p class="text">Players Bought: <span class="numOfPlayers" id="DCnum">0</span></p>
                </div>
            </section>


        </div>





        <div class="bids">


            <div id="search">

                <input id="searchOrder" name="order" size="3" type="text" value="">
                <button class="button" id="change">Search</button>

            </div>

            <section class="bids-1">
                <div class="bids-3" id="bids-3">
                    <p class="Bid">Current Bid:</p>
                    <p id="rupee"> &#8377<span class="Bid" id="Amount">0</span>Lakhs</p>
                </div>
                <div class="upsold">
                    <button class="button" id="PREV"> <-prev </button>
                    <button class="button" id="UP">Bid Up</button>
                    <button class="button" id="Sold">Sell</button>
                    <button class="button" id="NEXT"> next-> </button>
                </div>
                <div>
                    <p class="Bids" id="hidden"></p>
                </div>

            </section>


            <section class="undo">
                <button class="button" id="undo">Undo</button>
                <button class="button" id="reset">Reset</button>
            </section>


            <section class="teamSelector" id="teamSelector">
                <p class="edgy-font">Select Team</p>

                <form>
                    <div class="buying-teams">
                        <label id="mi"><input name="profession" type="radio" value="MI"><img class="logo"
                                src="/resources/logos/milogo.webp" alt=""></label>
                        <label id="csk"><input name="profession" type="radio" value="CSK"> <img class="logo"
                                src="/resources/logos/csklogo.webp" alt=""></label>
                        <label id="rr"><input name="profession" type="radio" value="RR"> <img class="logo"
                                src="/resources/logos/rrlogo.webp" alt=""></label>
                        <label id="srh"><input name="profession" type="radio" value="SRH"> <img class="logo"
                                src="/resources/logos/srhlogo.webp" alt=""></label>

                        <label id="rcb"><input name="profession" type="radio" value="RCB"> <img class="logo"
                                src="/resources/logos/rcblogo.webp" alt=""></label>
                        <label id="pbks"><input name="profession" type="radio" value="PBKS"> <img class="logo"
                                src="/resources/logos/pbkslogo.webp" alt=""></label>
                        <label id="kkr"><input name="profession" type="radio" value="KKR"> <img class="logo"
                                src="/resources/logos/kkrlogo.webp" alt=""></label>
                        <label id="dc"><input name="profession" type="radio" value="DC"> <img class="logo"
                                src="/resources/logos/dclogo.webp" alt=""></label>
                    </div>
                </form>
                <div class="add">
                    <button class="button" id="confirm">ADD</button>
                </div>
            </section>

        </div>

        <div class="statsHolder">
            <div class="statsHolderBackground" id="statsHolderBackground">
                <p id="playerno">Player:<span id="playerNum"></span></p>
                <p class="stats" id="name"></p>


                <img class="stas" id="currPlayerImg" src="" alt="">

                <div class="data" id="databox">
                    <p>Bat Pts :<span id="batAvg"></span></p>

                    <p>Bowl Pts:<span id="bowlPts"></span></p>

                    <p>Wk Pts :<span id="wkPts"></span></p>



                </div>
            </div>

            <div class="otherstatsbg">
                <div class="team-role">


                    <p id="role">-</p>
                    <img class="eclipse" src="resources/icons/eclipse.webp" alt="">
                    <img id="roleImg" src="" alt="">
                </div>

                <div class="nationality">
                    <p id="nationality">-</p>
                    <img class="eclipse" src="resources/icons/eclipse.webp" alt="">
                    <img class="flag" id="flagImg" src="" alt="">
                </div>
                <div class="basePrice">
                    <p>Base- <span id="basePrice">-</span> Cr</p>
                    <img class="eclipse" src="resources/icons/eclipse.webp" alt="">
                    <img class="coin" src="resources/icons/BasePrice.webp" alt="">
                </div>
            </div>

        </div>

    </section>




    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    <script src="views/js/myAuction.js"></script>
    <script src="views/js/database4myAuction.js"></script>


</body>

</html>