<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Players</title>
</head>
<body>

    
    <input id="input" type="text">
    <button id ="go">GO</button>

    <p id="jj">woow</p>
     <h1>All Playeres</h1>
     <ul>
        <% for(let player of players){ %>
            <li><a href="/players/<%= player.order %>"><%= player.name %> </a></li>
         <%} %>
     </ul>

     <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
     <script type="text/javascript" src="views/js/player-io.js"></script>
     
</body>
</html>