<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Players</title>
</head>

<body>


    <input id="input" type="text">
    <button id="go">GO</button>

    <p id="jj">woow</p>
    <h1>All Playeres</h1>
    <ul>
        <% for(let player of players){ %>
            <li><a href="/players/<%= player.order %>">
                    <%= player.name %>
                </a></li>
            <%} %>
    </ul>

    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    <script>
       
        const socket2 = io('https://auction-arsh.onrender.com');

        document.getElementById("go").onclick = () => {
            count++;
            const myText = document.getElementById("input").value;
            console.log(myText);
            socket2.emit('message', myText); /* our instance of io emited a message to our server, 
                                    now we have to handle it on server ,
                                    go to index.js*/
        }

        socket2.on('message', text => {     /* now this socket instance should handle the messsage emitted 
                                    from server side socket instance to all servers and from their to client side sockets*/

            document.getElementById("jj").innerHTML = text;
            console.log(text+"2");

        });


       /* if( document.getElementById("jj").innerHTML = "woww"&&count>0){
           // const socket2 = io('http://localhost:3001');

        document.getElementById("go").onclick = () => {

            const myText = document.getElementById("input").value;
            console.log(myText+"2");
            socket2.emit('message', myText); /* our instance of io emited a message to our server, 
                                    now we have to handle it on server ,
                                    go to index.js*/
        /*}

        socket2.on('message', text => {     /* now this socket instance should handle the messsage emitted 
                                    from server side socket instance to all servers and from their to client side sockets*/

           /* document.getElementById("jj").innerHTML = text;
            console.log(text+"2");

        });
        }*/
    </script>
    <!-- <script type="text/javascript" src="views/js/player-io.js"></script>
      -->
</body>

</html>