<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/scoreboard.css">
</head>

<body>



    <div class="container">


        <div class="card-holder-outer">
            <div class="card-holder-heading">
                <p>Make your own team</p>
            </div>
            <div class="card-holder-box">
                <div class="card-holder" id="1">
                    <div class="card" draggable="true" id="one"></div>
                </div>
                <div class="card-holder" id="2">
                    <div class="card" draggable="true"></div>
                </div>
                <div class="card-holder" id="3">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
            </div>
        </div>
        <div class="leaderBoard-outer">
            <div class="leaderBoard-heading">
                <p>LeaderBoard</p>
            </div>
            <div class="leaderBoard">
            
                <div class="team-div" id="first">
                    <div class="player-rank">
                        2
                    </div>
                    <div class="player-name">
                        Arsh
                    </div>
                </div>
                <div class="team-div" id="sec">
                    <div class="player-rank">
                        1
                    </div>
                    <div class="player-name">
                        Deep
                    </div>
                </div>
                <div class="team-div" id="third">
                    <div class="player-rank">
                        3
                    </div>
                    <div class="player-name">
                        Singh
                    </div>
                </div>

            </div>
        </div>
        <div class="card-holder-outer">
            <div class="card-holder-heading">
                <p>Make your own team</p>
            </div>
            <div class="card-holder-box">
                <div class="card-holder" id="1">
                    <div class="card" draggable="true" id="one"></div>
                </div>
                <div class="card-holder" id="2">
                    <div class="card" draggable="true"></div>
                </div>
                <div class="card-holder" id="3">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
                <div class="card-holder" id="4">
                    <!-- <div class="card" draggable="true"></div> -->
                </div>
            </div>
        </div>
            <div class="box" id="box-1"></div>
            
        
    </div>



    <script src="https://cdn.socket.io/socket.io-3.0.0.js"></script>
    <script src="views/js/scoreboard.js"></script>
</body>

</html>