<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dist/css/playerModal.css">
    <link rel="stylesheet" href="dist/css/modal.css">
    <!-- <script src="https://cdn.socket.io/4.1.2/socket.io.js"></script> -->
    <title>Document</title>
</head>
<body>
    <div class="query-modal-players" id="modal-players">
        <div class="modal-player-outerdiv">
            <p class="heading">Batsmen - <span id="query-batsmen-Number"></span></p>

            <div id="query-modal-batsman-div" class="modal-batsman-div"></div>
        </div>
        <div class="modal-player-outerdiv">
            <p class="heading">Bowlers - <span id="query-bowlers-Number"></span></p>
            <div id="query-modal-bowler-div" class="modal-bowler-div"></div>
        </div>
        <div class="modal-player-outerdiv">
            <p class="heading">All-Rounders - <span id="query-All-Rounders-Number"></span></p>
            <div id="query-modal-allrounder-div" class="modal-allrounder-div"></div>
        </div>
        <div class="modal-player-outerdiv">
            <p class="heading">WKs - <span id="query-Wks-Number"></span></p>
            <div id="query-modal-WKs-div" class="modal-WKs-div"></div>
        </div>

    </div>

    <script type="text/javascript" src="views/js/selectCharacters.js"></script>
</body>
</html>