<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/css/selectAuctionType.css">
    <script src="https://cdn.socket.io/4.1.2/socket.io.js"></script>
</head>

<body>

    

    <div class="background-box-1"></div>
    <div class="background-box-2"></div>

    <div id="greet">
         <p id="username-cookie"></p>
    </div>

    <div class="selectionDiv" id="selectionDiv">
        <div class="multiplayer selectionDivChild" id="multiplayer">
            Multiplayer
        </div>

        <div class="play-with-ai selectionDivChild" id="play-with-ai">
            Play with AI
        </div>

        <div class="make-players selectionDivChild" id="make-players">
            Make your own Players
        </div>

        <div class="custom-match selectionDivChild" id="custom-match">
            Custom Match
        </div>
    </div>

    <script type="module" src="views/js/makeCookies.js"></script>
</body>

</html>